@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
}

body header .hero-desktop {
  max-width: 1440px;
  width: 100%;
}

@media (max-width: 425px) {
  body header .hero-desktop {
    display: none;
  }
}

body header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -19.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  body header .nav {
    top: -15.5rem;
  }
}

@media (max-width: 768px) {
  body header .nav {
    top: -11rem;
  }
}

body header .nav .logo {
  margin-left: 4.5rem;
}

@media (max-width: 425px) {
  body header .nav .logo {
    margin-left: 1.5rem;
    margin-top: 12rem;
    background: transparent;
    z-index: 1;
  }
}

body header .nav .nav-btns {
  margin-right: 5.5rem;
}

@media (max-width: 425px) {
  body header .nav .nav-btns {
    display: none;
  }
}

body header .nav .nav-btns a {
  padding-left: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

body header .nav .nav-btns a:hover {
  color: #cfcfcf;
}

body header .nav .mobile-menu {
  display: none;
}

@media (max-width: 425px) {
  body header .nav .mobile-menu {
    display: block;
  }
}

@media (max-width: 425px) {
  body header .nav .mobile-menu .hero-mobile {
    width: 110%;
    position: absolute;
    top: 11rem;
    left: -2rem;
  }
}

@media (max-width: 375px) {
  body header .nav .mobile-menu .hero-mobile {
    width: 119%;
  }
}

@media (max-width: 425px) {
  body header .nav .mobile-menu #burger {
    position: absolute;
    top: 12rem;
    left: 25rem;
    background: transparent;
    border: none;
  }
}

@media (max-width: 375px) {
  body header .nav .mobile-menu #burger {
    left: 23.5rem;
  }
}

@media (max-width: 425px) {
  body header .nav .mobile-menu #close {
    display: none;
    position: absolute;
    top: 12rem;
    left: 25rem;
    background: transparent;
    border: none;
  }
}

body header .nav .menu {
  display: none;
}

@media (max-width: 425px) {
  body header .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    position: relative;
    top: 14rem;
    left: -5rem;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    height: 9rem;
    width: 55%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

body header .nav .menu a {
  text-decoration: none;
  margin: 0.6rem 0;
  border-bottom: 1px solid #cfcfcf;
  color: #000;
}

body #first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.06);
  width: 50%;
  margin: -6rem 20rem 1.5rem;
  background-color: #fff;
  position: absolute;
  border-radius: 4px;
  padding: 1rem;
}

@media (max-width: 1024px) {
  body #first {
    width: 53%;
    margin: -6rem 18rem 1.5rem;
  }
}

@media (max-width: 768px) {
  body #first {
    margin: -4rem 10rem 1.5rem;
    width: 71%;
  }
}

@media (max-width: 425px) {
  body #first {
    margin: -4rem 0 1.5rem;
    width: 103%;
  }
}

@media (max-width: 375px) {
  body #first {
    width: 110.5%;
  }
}

body #first .img-2 {
  width: 34px;
  margin-top: -2rem;
}

body #first h1 {
  margin: 1rem;
}

body #first p {
  margin-bottom: 0.8rem;
}

body #first .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16rem;
}

@media (max-width: 768px) {
  body #first .btns {
    gap: 8rem;
  }
}

@media (max-width: 375px) {
  body #first .btns {
    gap: 5rem;
  }
}

body #first .btns #btn-1 {
  border: none;
  background-color: #3cb4ac;
  border-radius: 50px;
  padding: 0.7rem 1rem;
  color: white;
  font-size: 13px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

@media (max-width: 1024px) {
  body #first .btns #btn-1 {
    width: 105%;
  }
}

body #first .btns #btn-1:hover {
  background-color: #147b74;
}

body #first .btns #btn-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #7a7a7a;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  padding: 0.5rem;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  body #first .btns #btn-2 {
    width: 120%;
  }
}

body #first .btns #btn-2 img {
  width: 25%;
  margin-left: -0.8rem;
}

body #first .btns #btn-2:hover {
  background-color: #cfcfcf;
}

body #second {
  margin-top: 10rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.06);
  width: 50%;
  margin: 8rem 20rem 1.5rem;
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem 2.5rem;
}

@media (max-width: 1024px) {
  body #second {
    margin: 8rem 18rem 1.5rem;
    width: 53%;
  }
}

@media (max-width: 768px) {
  body #second {
    margin: 12rem 11.5rem 1.5rem;
    width: 61%;
  }
}

@media (max-width: 425px) {
  body #second {
    margin: 12rem 1.5rem 1.5rem;
    width: 92%;
  }
}

@media (max-width: 375px) {
  body #second {
    width: 99%;
  }
}

body #second .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 425px) {
  body #second .stats-container {
    display: block;
    margin-left: 5rem;
  }
}

@media (max-width: 375px) {
  body #second .stats-container {
    margin-left: 3rem;
  }
}

body #second .stats-container .stats-block {
  border-right: 1px solid #7a7a7a;
  padding-right: 1.3rem;
}

@media (max-width: 425px) {
  body #second .stats-container .stats-block {
    border-right: none;
    padding-right: 0;
  }
}

body #second .stats-container .big-number {
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 425px) {
  body #second .stats-container .big-number {
    margin-left: 1.7rem;
  }
}

@media (max-width: 425px) {
  body #second .stats-container .small-number {
    margin-left: 1.4rem;
  }
}

body #second #progress-bar {
  margin: 2rem auto;
  width: 100%;
}

body #third {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.06);
  width: 54%;
  margin: 3rem 17rem;
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem 2.5rem;
}

@media (max-width: 768px) {
  body #third {
    width: 64%;
    margin: 3rem 10rem;
  }
}

@media (max-width: 425px) {
  body #third {
    width: 88%;
    margin: 3rem 3rem;
  }
}

@media (max-width: 375px) {
  body #third {
    width: 92%;
  }
}

body #third .text h2 {
  margin: 1.5rem 0;
}

body #third .text p {
  color: #7a7a7a;
  line-height: 1.8rem;
}

body #third .card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 2rem 1.2rem;
  margin: 1.2rem 0;
}

@media (max-width: 375px) {
  body #third .card {
    margin: 1.2rem -2rem;
    width: 109%;
  }
}

body #third .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.8rem;
}

body #third .card .top .left {
  font-weight: 600;
  color: #000;
}

body #third .card .top .right {
  color: #3cb4ac;
  font-weight: 500;
}

body #third .card p {
  color: #7a7a7a;
  line-height: 1.6rem;
}

body #third .card .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.8rem;
}

body #third .card .bottom b {
  color: #000;
  margin-right: 0.5rem;
  font-size: 24px;
}

body #third .card .bottom button {
  border: none;
  background-color: #3cb4ac;
  border-radius: 50px;
  padding: 0.7rem 1rem;
  color: white;
  font-size: 13px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

body #third .card .bottom button:hover {
  background-color: #147b74;
}

body #third .opacity {
  opacity: 0.5;
}

body #third .opacity button {
  background-color: #7a7a7a !important;
  cursor: not-allowed !important;
}

.modal {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  width: 54%;
  margin: 3rem 17rem;
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem 2.5rem;
  position: absolute;
  top: 12rem;
  display: none;
}

.modal button {
  background: transparent;
  border: none;
  margin-left: 36rem;
  margin-top: 1.2rem;
  cursor: pointer;
}

.modal .subtitle {
  color: #7a7a7a;
  margin-top: 1rem;
  font-size: 15px;
}

.modal .card-modal {
  margin-top: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1rem 1.2rem;
}

.modal .card-modal .top-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .card-modal .top-modal .green {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0.5rem;
  color: #3cb4ac;
}

.modal .card-modal .top-modal .right-modal span {
  font-weight: 600;
  margin-right: 0.3rem;
  font-size: 22px;
}

.modal .card-modal .bottom-modal .text {
  margin-top: 1.5rem;
}

.modal .card-modal .pledgeBtn1 {
  margin-left: 11rem;
  background: #3cb4ac;
  padding: 1rem 1.2rem;
  border-radius: 20px;
}

.modal .card-modal .pledgeBtn2 {
  margin-left: 11rem;
  background: #3cb4ac;
  padding: 1rem 1.2rem;
  border-radius: 20px;
}

.modal .card-modal .pledgeBtn3 {
  margin-left: 11rem;
  background: #3cb4ac;
  padding: 1rem 1.2rem;
  border-radius: 20px;
}

.modal .opacity {
  opacity: 0.5;
}

.modal .opacity button {
  background-color: #7a7a7a !important;
  cursor: not-allowed !important;
}

.modal .pledgeBtn {
  background-color: #3cb4ac;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  margin-left: 14rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.modal .pledgeBtn:hover {
  background-color: #147b74;
}

.modal .inputText {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 0.1rem;
}

.thanksDisplay {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  width: 54%;
  margin: 3rem 17rem;
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem 2.5rem;
  position: absolute;
  top: 15rem;
  display: none;
}

.thanksDisplay .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thanksDisplay .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thanksDisplay .text h1 {
  margin-top: 2rem;
  font-size: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thanksDisplay .text p {
  margin-top: 1rem;
  margin-left: 8rem;
  color: #7a7a7a;
  line-height: 2rem;
  margin: 0 5rem;
}

.thanksDisplay .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.thanksDisplay .btn button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #3cb4ac;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.thanksDisplay .btn button:hover {
  background-color: #147b74;
}
/*# sourceMappingURL=style.css.map */